@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&family=Lexend:wght@300;500;700&family=Lora:ital,wght@1,400;1,500;1,600&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&family=Lexend:wght@300;500;700&family=Lora:ital,wght@1,400;1,500;1,600&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,400&family=Poppins:ital@0;1&display=swap');

* {
    box-sizing: inherit;
    font-family: "Lexend", sans-serif;
}

.container {
    background: #FFFFFF;
    margin-bottom: 20px;
}

.col-md-4{
    padding: 12px 0;
    font-size: 16px;
}

.col-md-2{
    padding: 12px 0;
    font-size: 15px;
    text-align: center;
    
}

.col-md-1{
    padding: 18px 0;
    text-align: center;
}

.col-sm-1{
    padding: 30px 0;
    text-align: center;
}


.thanhtoanform{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #EAFFE4;
}

.header{
    width: 100%;
    height: 80px;
    background: #FFFFFF;
}

#headerrow {
    align-items: center; 
    height: 100%;
}

.header__logo {
    height: 80px;
    width: 80px;
}

.header__brand1 {
    color: #118129;
    font-size: 20px;
    font-weight: bold;
}

.header__brand2 {
    color: #14DF41; 
    font-size: 20px;
    font-weight: bold;
}


.header__step {
    width: 33%;
}

.header__step-name {
    font-size: 12px;
    font-weight: bold;
}


.header__line-left {
    width: 81px;
    height: 8px;
    background-color: #D9D9D9;
    margin-top: 10px;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.header__line-right {
    width: 81px;
    height: 8px;
    background-color: #D9D9D9;
    margin-top: 10px;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}


#line-left-1, #line-right-3 {
    visibility: hidden;
}

#line-right-1, #line-left-2, #line-right-2, #line-left-3 {
    background-color: #118129;
}

.header__circle {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    text-align: center;
}

#circle1, #circle2, #circle3 {
    background-color: #118129;
    color: #FFFFFF;
}

#circle3 {
    border: 1px solid #D9D9D9;
}

.header__contact-icon {
    border-radius:12px;
}

.header__contact {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    width: 200px;
    border: 1px solid #8F8C8C;
    border-radius: 12px;
}

.header__hotline {
    margin-left: 12px;
}

.header__hotline-number {
    color: #F6A508;
    font-weight: bolder;
}

.header__hotline-note {
    color: #000000;
    font-size: 12px;
    font-weight: bolder;
}


.content__title {
    width: 100%;
    height: 50px;
    background: #118129;
    margin-bottom: 20px;
}

.content__headline {
    padding: 15px 0;
    color: #FFFFFF;
    font-size: 18px;
}

.content__delivery-method {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 12px;
    width:240px;
    border-radius: 8px;
}

#delivery-method1 {
    border: 1px solid #1ED330;
    background-color: #C2F49B;
    cursor: pointer;
}

#delivery-method2 {
    border: 1px solid #826C6C;
    background-color: #DBDADA;
    cursor: pointer;
}

.content__delivery-method-name {
    cursor: pointer;
}


input[type="radio"]:checked + label {
    color: #0B4DB7;
}

input[type='radio'] {
    margin-right: 8px;
}

.content__delivery-detail {
    border: 1px solid #7B7575;
    width: 560px;
    border-radius: 8px;
}

.content__pro-image {
    width: 80px;
    height: 60px;
    border: 1px solid #373333;
    border-radius: 12px;
    margin-left: 20px;
    margin-right: 20px;
}

.content__pro-name, .content__pro-unit-price {
    font-weight: bold;
}


#deliveryTime {
    color: #1A86E9;
    font-size: 12px;
    margin-bottom: 0px;
}

#deliveryIcon {
    margin-left: 20px;
}

#deliveryLegend {
    margin-left: 20px;
    width: 212px;
}

.content__deliveryDetail {
    padding: 12px 40px;
}

#deliveryInfo{
    font-size:12px;
}

#deliveryFee {
    font-weight: bold;
    color: green;
}

.content__pro-info {
    padding: 8px 0px;
    display:flex;
    width: 100%;
}

.content__pro-detail {
    width: 300px;
}

.content__pro-image {
    width: 80px;
    height: 60px;
    border: 1px solid #373333;
    border-radius: 12px;
    margin-left: 0px;
    margin-right: 12px;
}

.content__pro-unit-price {
    margin-left: 4px;
    font-weight: bold;
    color: red;
    float:right;
}

.content__payment-methods {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content__payment-method, .content__payment-name {
    cursor: pointer;
}

#E-wallet-message {
    color: red;
    margin-top: 12px;
    margin-left: 24px;
    display: none;
    font-size: 12px;
}

.content__E-wallets {
    display: none;
}

.content__E-wallet {
    background-color: #E3DDDD;
    border: 1px solid #8F8C8C;
    border-radius: 8px;
    margin-top: 12px;
    margin-left: 20px;
    padding: 0px 4px;
    cursor: pointer;
}

.content__E-wallet-name {
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 4px;
}

input[name='E-wallet'] {
    display: none;
    margin: 0px;
}

.content__E-wallet-image {
    width: 20px;
    height: 20px;
    border-radius: 4px;
}

#left-column {
    margin-left: 20px;
    margin-top: 20px;
}

#right-column {
    margin-right: 20px;
    margin-top: 20px;
}

.content__frame {
    background-color: #B4EB89;
    border-radius: 12px;
}

.content__description {
    display:inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 385px;
}

#address {
    font-size: 0px;
}

#address span {
    font-size: 16px;
}

/*a { 
    font-size: 12px;
    float: right;
    color: #1A86E9;
}*/

input[type='checkbox'] {
    margin-right: 8px;
}

.content__invoice-request {
    cursor: pointer;
}

#invoice-request-name { 
    margin-bottom: 0px;
    cursor: pointer;
}

.content__line {
    border: 1px solid #826C6C;
    width: 360px;
}

#detail-button {
    border: none;
    outline: none;
    color:#1A86E9;
    background-color: #B4EB89;
    cursor: pointer;
}

#detail-button:hover {
    border: none;
    outline: none;
    color:#1A86E9;
    background-color: #B4EB89;
    cursor: pointer;
    text-decoration: underline;
}

.content__attitude {
    float:left;
    color: #7B7575;
}

.content__value {
    float: right;
}

#transort-discount, #discount {
    color: #118129;
}

table {
    width: 100%;
    border-collapse: collapse;
}

#total-tittle {
    color:#000000;
    float: left;
}

#total {
    color:#ED1818;
    font-size: 20px;
    font-weight: bold;
    float: right;
}

#vat {
    float: right;
    color: #7B7575;
    font-size: 12px;
}

.content__submit {
    text-align: center;
    margin-bottom: 20px;
}

input[type='submit'] {
    background-color: #ED1818;
    color:#FFFFFF;
    border-radius: 12px;
    border: none;
    width: 240px;
    height: 60px;
    font-size: 20px;
    cursor: pointer;
}

.content__info {
    font-size:xx-small;
    margin-bottom: 20px;
    margin-left: 20px;
}