@model WebBriliFresh.Models.DiscountOrder

@{
    ViewData["Title"] = "Chỉnh Sửa";
}

<div class="page-header">
    <h2 class="header-title">Brili Fresh</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="/Admin" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a href="/Admin" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Quản lý khuyến mãi</a>
            <a asp-action="Index" class="breadcrumb-item">Khuyến mãi hóa đơn</a>
            <span class="breadcrumb-item active">Chỉnh sửa</span>
        </nav>
    </div>
</div>
<h1>Chỉnh Sửa khuyến mãi theo đơn hàng</h1>
<h5 class="text-dark font-weight-semibold">ID Khuyến Mãi: @Html.DisplayFor(Model => Model.DisId)</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @Html.Hidden("InitialDisCode", Model.DisCode)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DisId" />
            <div class="form-group">
                <label asp-for="DisCode" class="control-label"></label>
                <input asp-for="DisCode" class="form-control" readonly/>
                <span asp-validation-for="DisCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisRate" class="control-label"></label>
                <input asp-for="DisRate" class="form-control" type="number" />
                <span asp-validation-for="DisRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxDis" class="control-label"></label>
                <input asp-for="MaxDis" class="form-control" min="0" type="number" />
                <span asp-validation-for="MaxDis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CusType" class="control-label"></label>
                <input asp-for="CusType" class="form-control" />
                <span asp-validation-for="CusType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label><br />
                <div class="form-check form-check-inline">
                    <input asp-for="Status" class="form-check-inline ml-4 mr-1" type="radio" value="true" id="true" />
                    <label class="form-check-label" for="true">Hoạt động</label>
                    <input asp-for="Status" class="form-check-inline ml-4 mr-1" type="radio" value="false" id="false" />
                    <label class="form-check-label" for="false">Không hoạt động</label>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
 
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu thông tin" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success btn-tone m-r-5">Quay lại danh sách</a>
            </div>
        </form>
    </div>
</div>

