@model WebBriliFresh.Models.DiscountType

@{
    ViewData["Title"] = "Edit";
}
<div class="page-header">
    <h2 class="header-title">Brili Fresh</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="/Admin" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a href="/Admin" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Quản lý khuyến mãi</a>
            <a asp-action="Index" class="breadcrumb-item">Khuyến mãi loại sản phẩm</a>
            <span class="breadcrumb-item active">Chỉnh sửa</span>
        </nav>
    </div>
</div>
<h1>Chỉnh Sửa khuyến mãi loại sản phẩm</h1>
<h5 class="text-dark font-weight-semibold">ID Khuyến Mãi: @Html.DisplayFor(Model => Model.DisId)</h5>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DisId" />
            <div class="form-group">
                <label asp-for="Type.MainType" class="control-label">Danh mục sản phẩm</label>
                <select asp-for="Type.MainType" class="form-control" asp-items=ViewBag.MainType></select>
            </div>
            <div class="form-group" id="sub1">
                <label asp-for="TypeId" class="control-label">Loại sản phẩm</label>
                <select asp-for="TypeId" id="type1" class="form-control" asp-items=ViewBag.TypeId1></select>
            </div>
            <div class="form-group" id="sub2">
                <label asp-for="TypeId" class="control-label">Loại sản phẩm</label>
                <select asp-for="TypeId" id="type2" class="form-control" asp-items=ViewBag.TypeId2></select>
            </div>
            <div class="form-group" id="sub3">
                <label asp-for="TypeId" class="control-label">Loại sản phẩm</label>
                <select asp-for="TypeId" id="type3" class="form-control" asp-items=ViewBag.TypeId3></select>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label><br />
                <div class="form-check form-check-inline">
                    <input asp-for="Status" class="form-check-inline ml-4 mr-1" type="radio" value="true" id="true" />
                    <label class="form-check-label" for="true">Hoạt động</label>
                    <input asp-for="Status" class="form-check-inline ml-4 mr-1" type="radio" value="false" id="false" />
                    <label class="form-check-label" for="false">Không hoạt động</label>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group">
                <input type="submit" value="Lưu thông tin" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success btn-tone m-r-5">Quay lại danh sách</a>
            </div>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    var s1 = $("#sub1")
    var t1 = $("#type1")

    var s2 = $("#sub2")
    var t2 = $("#type2")

    var s3 = $("#sub3")
    var t3 = $("#type3")

    var maintype = $("#Type_MainType");

    t2.prop("disabled", true);
    t3.prop("disabled", true);

    s2.hide()
    s3.hide()

    maintype.change(function () {
        if (maintype.find(":selected").val() === 'Rau củ') {
            t2.prop("disabled", true);
            t3.prop("disabled", true);
            t1.prop("disabled", false);

            s2.hide()
            s3.hide()
            s1.show()
        } else if (maintype.find(":selected").val() === 'Thịt cá') {
            t2.prop("disabled", false);
            t3.prop("disabled", true);
            t1.prop("disabled", true);

            s2.show()
            s3.hide()
            s1.hide()
        } else {
            t2.prop("disabled", true);
            t3.prop("disabled", false);
            t1.prop("disabled", true);

            s2.hide()
            s3.show()
            s1.hide()
        }
    })
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}