<footer class="footer mt-5 " style="bottom: 0;">
    <div class="container-fluid container-footer">
        <div class="row brand-footer mt-2">
            <!-- Footer -->
            <div class="logo-name-footer me-1 my-lg-2">
                <a class="navbar-brand" href="#">
                    <img id="logo" src="/HomeAssets/asset/image/logo.png" class="position-start"></img>
                    <span class="firstName-footer p-1">Brili<span class="lastName-footer">Fresh</span></span>
                </a>
            </div>
            <!-- Section: Social media -->
            <!-- Left -->
            <!-- Section: Social media -->
            <!-- Section: Links  -->
            <section class="info-footer p-0">
                <div class="container text-center text-md-start mt-0 p-0" style="background-color: #58b63a;">
                    <!-- Grid row -->
                    <div class="d-flex mt-3 mb-0" style="    align-items: center; text-align: initial;">
                        <!-- Grid column -->
                        <div class=" col-lg-3 col-xl-3 mx-auto mb-md-0 font-16 mt-4">
                            <!-- Links -->

                            <p><i class="fas fa-home me-3"></i> 319 C16 Lý Thường Kiệt, Phường 15, Quận 11, Tp.HCM</p>
                            <p><i class="fas fa-phone me-3"></i> 1900 343 756</p>
                            <p>
                                <i class="fas fa-envelope me-3"></i>
                                brilifresh@gmail.com
                                thucphamsach@brili.media
                            </p>
                            <a href="" class="me-4 text-reset text-decoration-none css_text">
                                <p>
                                    <i class="fab fa-facebook-f me-2"></i>
                                    facebook.com/brilifresh
                                </p>
                            </a>

                        </div>


                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class=" col-lg-2 col-xl-2 mx-auto mb-0 title-footer ms-5 ">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4 font-24">
                                Sản phẩm
                            </h6>
                            <p>
                                <a href="#!" class="css_text a2 text-reset text-decoration-none font-16">Rau củ</a>
                            </p>
                            <p>
                                <a href="#!" class="css_text a2 text-reset text-decoration-none font-16">Hải sản</a>
                            </p>
                            <p>
                                <a href="#!" class="css_text a2 text-reset text-decoration-none font-16">Trái cây</a>
                            </p>
                            <p>
                                <a href="#!" class="css_text a2 text-reset text-decoration-none font-16">Thịt trứng</a>
                            </p>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class=" col-lg-2 col-xl-2 mx-auto mb-0 title-footer">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4 font-24">
                                Danh mục
                            </h6>
                            <p>
                                <a href="#!" class="css_text a2 text-reset text-decoration-none  font-16">Trang chủ</a>
                            </p>
                            <p>
                                <a href="#!" class="css_text a2 text-reset text-decoration-none  font-16">Giới thiệu</a>
                            </p>
                            <p>
                                <a href="#!" class="css_text a2 text-reset text-decoration-none  font-16">Sản phẩm</a>
                            </p>
                            <p>
                                <a href="#!" class="css_text a2 text-reset text-decoration-none  font-16">Kiến thức</a>
                            </p>
                        </div>
                        <div class=" col-lg-4 col-xl-4 mx-auto mb-0 title-footer">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4 font-24">
                                Kết nối với chúng tôi
                            </h6>
                            <p>
                                <a href="#!" class="a2 css_text text-reset text-decoration-none  font-16">
                                    <i class="fab fa-facebook-f me-4"></i>Kết nối qua Facebook
                                </a>
                            </p>
                            <p>
                                <a href="#!" class="a2 css_text text-reset text-decoration-none  font-16">
                                    <i class="fab fa-instagram me-3"></i>
                                    Kết nối qua Instagram
                                </a>
                            </p>
                            <p>
                                <a href="#!" class="a2 css_text text-reset text-decoration-none  font-16">
                                    <i class="fab fa-tiktok me-4"></i>
                                    Kết nối qua Tiktok
                                </a>
                            </p>

                        </div>

                        <!-- Grid column -->
                        <!-- Grid column -->
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                </div>
            </section>


            <!-- Footer -->
        </div>
    </div>
</footer> 