@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin tài khoản</title>


    <link rel="stylesheet" href="~/HomeAssets/asset/fonts/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="~/HomeAssets/asset/base.css" />
    <link rel="stylesheet" href="~/HomeAssets/homeheadermain.css"/>
    <link rel="stylesheet" href="~/HomeAssets/HomeFooter.css" />
    <link rel="stylesheet" href="~/MyAccountAssets/MyAccount/MyAccountMain.css" />

    <link rel="stylesheet" href="~/MyAccountAssets/MyAccount/AccountInfo.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha512-17egcferpgzkcm0j0feq1ycjuyawdz9kutv1ejvuaoz8pdnh/0nzxmu6bbxwaaxqoi9pqxnrwqlcdb027hgv9a==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha512-yhknp1/awr+yx26cb1y0cjvqumvea2pfzt1c9lls4prq5notzfwbhbig+x9g9eyw/8m0/4oxnx8pxj6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>
    @await Html.PartialAsync("~/Views/Shared/_HomeHeaderPartialView_login.cshtml")
    <!-- Begin content -->
    <div class="container">
        <div class="row">
            <section class="directory mt-3">
                <nav class="navbar navbar-expand-xl navbar-light ">
                    <div class="container-fluid">
                        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                                <li class="breadcrumb-item active" id="AccountInfo" aria-current="page">Thông tin tài khoản</li>
                            </ol>
                        </nav>
                    </div>
                </nav>
            </section>

            @await Html.PartialAsync("~/Views/Shared/_SubNavPartialView.cshtml")
            <!-- End SlideBar -->

            <div class="col-12 col-xl-9 container-right">
                <div class="heading-right">Thông tin tài khoản</div>
                <div class="row">
                    <div class="col-12 col-xl-8 container-fluid">
                        <form action="" method="post" name="update-info-cus" class="form-info-cus">
                            <div class="input_field">
                                <label for="last-name"> Họ </label>
                                <input type="text" name="last-name" value="Đặng" />
                            </div>
                            <div class="input_field">
                                <label for="first-name"> Tên </label>
                                <input type="text" name="first-name" value="Minh Tuấn" />
                            </div>
                            <div class="input_field">
                                <label for="phone"> Số điện thoại </label>
                                <span name="phone">3242534556</span>
                            </div>
                            <div class="input_field">
                                <label for="email"> Email </label>
                                <div class="email-data">
                                    <span name="email">dskfdfk@gmail.com</span>
                                    <a onclick='window.location = "@Url.Action("ChangeMail_1", "MyAccount")"'>Thay đổi</a>
                                </div>
                            </div>
                            <div class="input_field">
                                <label for="Username"> Giới tính </label>
                                <div class="radio-group">
                                    <input type="radio" name="gender" value="male" id="male"><label for="male">Nam</label>
                                    <input type="radio" name="gender" value="female" id="female"><label for="female">Nữ</label>
                                    <input type="radio" name="gender" value="other" id="other"><label for="other">Khác</label>
                                </div>
                            </div>
                            <div class="input_field">
                                <label for="password"> Mật khẩu </label>
                                <a class="change-pw-btn" onclick='window.location = "@Url.Action("ChangePass_1", "MyAccount")"'>Đổi mật khẩu</a>
                            </div>
                        </form>

                        <input id="save-btn" class="btn-shared" name="save-btn" type="submit" value="Lưu" />
                    </div>


                    <div class="avatar-alt col-12 col-xl-4 container-fluid">
                        <div class="avatar-choice">
                            <img src="./assets/image/avt.jpg" alt="">
                        </div>
                        <label class="choose-img-btn btn-shared">
                            <span>Chọn ảnh</span>
                            <input type="file" accept="image/*"></input>
                        </label>
                    </div>
                </div>
            </div>

        </div>
    </div>
    @await Html.PartialAsync("~/Views/Shared/_FooterPartialView.cshtml")
    <script type="text/javascript" src="~/MyAccountAssets/MyAccount/SubNavSide.js"></script>
</body>
</html>
