@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết đơn hàng</title>
    <link rel="stylesheet" href="./assets/css/base.css">
    <link rel="stylesheet" href="./assets/css/main.css">

    <link rel="stylesheet" href="~/MyAccountAssets/ManageOrder/ManageOrder.css">
    <link rel="stylesheet" href="~/MyAccountAssets/ManageOrder/ChiTietDonHang.css">
    <link rel="stylesheet" href="~/HomeAssets/asset/fonts/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="~/HomeAssets/asset/base.css" />
    <link rel="stylesheet" href="~/HomeAssets/homeheadermain.css" />
    <link rel="stylesheet" href="~/HomeAssets/HomeFooter.css" />
    <link rel="stylesheet" href="~/MyAccountAssets/MyAccount/MyAccountMain.css" />
    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>
    <!-- Begin header -->
    @await Html.PartialAsync("~/Views/Shared/_HomeHeaderPartialView_login.cshtml")
    <!-- End header -->


    <!-- Begin content -->
    <div class="container">
        <div class="row">
            <section class="directory mt-3">
                <nav class="navbar navbar-expand-xl navbar-light ">
                    <div class="container-fluid">
                        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                              <li class="breadcrumb-item"><a href="#">Quản lý đơn hàng</a></li>
                              <li class="breadcrumb-item active" aria-current="page">Chi tiết đơn hàng</li>
                            </ol>
                        </nav>
                    </div>
                </nav>
            </section>

            @await Html.PartialAsync("~/Views/Shared/_SubNavPartialView.cshtml")

            <!-- End SlideBar -->

            <div class="col-12 col-xl-9 container-right">
                <div class="right-content"></div>
                    <div class="heading-right">Chi tiết đơn hàng</div>

                    <div class="transfer-info">
                        <p>Đơn hàng <span id="order-id">380373322120636</span></p>
                        <p>Đặt ngày <span id="order-date">11/11/2022 02:01:34</span></p>
                        <p>Trả tiền bởi <span id="pay-by">ví MoMo</span></p>
                        <p>Kiện hàng của bạn đã được giao thành công vào ngày <span id="shipping-date">13/11/2022 12:38:45</span></p>
                    </div>

                    <div class="sucess-order order-info mt-3">
                        <div class="header-order">
                            <span><i class="ti-home"></i> JFruit</span>
                            <span><i class="ti-truck"></i> Đã giao</span>
                        </div>
                        <div class="content-order">
                            <div class="img-product"><img src="./assets/image/item_2.jpg" alt=""></div>
                            <div class="product-info">
                                <p class="name">Dưa hấu ruột đỏ Long An</p>
                                <p style="color: #757575;">Đơn vị: <span class="mass">1kg</span></p>
                            </div>
                            <div class="purchase-info unit-price">Đơn giá: <span>35,000</span></div>
                            <div class="purchase-info quantity">Số lượng: <span>1</span></div>
                            <div class="purchase-info amount">Thành tiền: <span>35,000</span></div>
                        </div>
                        <div class="content-order">
                            <div class="img-product"><img src="./assets/image/item_3.jpg" alt=""></div>
                            <div class="product-info">
                                <p class="name">Cá hồi tươi Fillet Na Uy</p>
                                <p style="color: #757575;">Đơn vị: <span class="mass">200g</span></p>
                            </div>
                            <div class="purchase-info unit-price">Đơn giá: <span>128,000</span></div>
                            <div class="purchase-info quantity">Số lượng: <span>1</span></div>
                            <div class="purchase-info amount">Thành tiền: <span>128,000</span></div>
                        </div>
                        <p>Tổng tiền: <b><span class="total-order">163,000</span></b></p>
                    </div>

                    <!-- End -->
                    <div class="the-end">
                        <div class="the-end__first">
                            <div class="heading-column-end">Địa chỉ nhận hàng</div>
                            <span id="name">Minh Tuấn</span>
                            <span id="phone-address">(+84)454354545</span>
                            <p id="address-order">941 Kha Vạn Cân, Thành phố Thủ Đức, Thành phố Hồ Chí Minh</p>
                        </div>
                        <div class="the-end__second">
                            <div class="heading-column-end">Tổng cộng</div>
                            <div class="info-payment">
                                <span>Tổng tiền hàng</span>
                                <span>163,000</span>
                            </div>

                            <div class="info-payment">
                                <span>Phí vận chuyển</span>
                                <span>19,200</span>
                            </div>

                            <div class="info-payment">
                                <span>Voucher tích lũy</span>
                                <span>30,000</span>
                            </div>

                            <hr>

                            <div class="info-payment">
                                <span>Tổng số tiền</span>
                                <span>152,200</span>
                            </div>

                            <div class="info-payment">
                                <span>Phương thức thanh toán</span>
                                <span>Ví MoMo</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    @await Html.PartialAsync("~/Views/Shared/_FooterPartialView.cshtml")
    <script src="./DanhGiaSanPham.js"></script>
</body>
</html>