@{
    Layout = null;
}
<html lang="en">
<head>
    <title>Thông tin đơn hàng</title>
    <link rel="icon" type="image/x-icon" href="./assets/images/logo.png">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha512-17egcferpgzkcm0j0feq1ycjuyawdz9kutv1ejvuaoz8pdnh/0nzxmu6bbxwaaxqoi9pqxnrwqlcdb027hgv9a==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha512-yhknp1/awr+yx26cb1y0cjvqumvea2pfzt1c9lls4prq5notzfwbhbig+x9g9eyw/8m0/4oxnx8pxj6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="~/HomeAssets/asset/fonts/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="~/HomeAssets/homeheadermain.css" />
    <link rel="stylesheet" href="~/HomeAssets/HomeFooter.css" />
    <link rel="stylesheet" href="~/BuyAndPayAssets/CartInfo/CartInfo.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <form action="@Url.Action("DeliveryInfo", "BuyAndPay")" method="GET" class="thongtindonhangform">
        <div class="header">
            @await Html.PartialAsync("~/Views/Shared/_HomeHeaderPartialView.cshtml")
        </div>

        <div class="content">
            <div class="content__title">
                <h3 class="content__headline"><center>THÔNG TIN ĐƠN HÀNG</center></h3>
            </div>
            <div class="content__description">
                <div class="content__header">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-4">
                                <span style="margin-left: 20px"><b>Tất cả (<span id="numPro"></span> sản phẩm)</b></span>
                            </div>
                            <div class="col-md-2">Đơn giá</div>
                            <div class="col-md-2">Số lượng</div>
                            <div class="col-md-2">Thành tiền</div>
                        </div>
                    </div>
                </div>
                <div class="content__data">
                    <div id="products" class="container">
                    </div>

                </div>
            </div>

            <div class="content__sumary">
                <div class="content__coupon">
                    <span class="content__coupon-icon"><img id="couponicon" src="./assets/icons/coupon.png"></span>
                    <input class="content__coupon-text" type="text" placeholder="Nhập mã giảm giá">
                    <input class="content__coupon-button" type="button" value="Áp dụng" disabled>
                    <span class="content__coupon-message">Mã giảm giá không đúng hoặc đã hết hạn!</span>
                </div>
                <div class="content__cost">
                    <div id="costinfo" class="container">
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-3">
                                <br>
                                <span class="content__subtotal">Tạm tính</span>
                            </div>
                            <div class="col-md-3">
                                <br>
                                <span class="content__subtotal-value"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-3">
                                <span class="content__discount">Giảm giá</span>
                            </div>
                            <div class="col-md-3">
                                <span class="content__discount-value"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                                <hr class="content-line">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                                <span class="content__total">Tổng tiền</span>
                                <span class="content__total-value"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-6">
                                <span class="content__vat">(Đã bao gồm VAT nếu có)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="content__continue">
            <input class="content__continue-button" type="submit" value="Tiếp tục">
        </div>

        <div class="content__info">
            <span>Bằng việc tiến hành Đặt Mua, khách hàng đồng ý với các Điều Kiện Giao Dịch Chung được ban hành bởi BriliFresh:</span>
            <br>
            <span>Quy chế hoạt động | Chính sách giải quyết khiếu nại | Chính sách bảo hành | Chính sách bảo mật thanh toán | Chính sách bảo mật thông tin cá nhân</span>
            <br>
            <span>© 2019 - Bản quyền của Công Ty Cổ Phần BriliFresh - BriliFresh.vn</span>
        </div>
        @await Html.PartialAsync("~/Views/Shared/_FooterPartialView.cshtml")
    </form>
    <script type="text/javascript" src="~/BuyAndPayAssets/CartInfo/CartInfo.js"></script>
</body>
</html>
