@model WebBriliFresh.Models.Stock

@{
    ViewData["Title"] = "Create";
}

<div class="page-header">
    <h2 class="header-title">Brili Fresh</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="/Admin" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-action="Index" class="breadcrumb-item">Quản lý kho</a>
            <span class="breadcrumb-item active">Thêm mới</span>
        </nav>
    </div>
</div>
<h3>Thêm mới kho</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StoreId" class="control-label">ID cửa hàng</label>
                <select id="store_id" asp-for="StoreId" class="form-control" asp-items="ViewBag.StoreId" required>
                    <option value="" selected>Chọn mã cửa hàng</option>
                </select>
                <span class="text-danger" id="store-message" style="display:none">Vui lòng chọn Mã cửa hàng!</span>
            </div>
            <div class="form-group">
                <label asp-for="ProId" class="control-label">ID sản phẩm</label>
                <select id="pro_id" asp-for="ProId" class="form-control" asp-items="ViewBag.ProId" required>
                    <option value="" selected>Chọn mã sản phẩm</option>
                </select>
                <span class="text-danger" id="pro-message" style="display:none">Vui lòng chọn Mã sản phẩm!</span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label">Số lượng</label>
                <input id="quantity" asp-for="Quantity" class="form-control" placeholder="Nhập số lượng sản phẩm" required />
                <span class="text-danger" id="quantity-message" style="display:none">Vui lòng nhập Số lượng!</span>
                <span class="text-danger" id="quantity-message1" style="display:none">Số lượng sản phẩm không thể âm!</span>
            </div>
            <div class="form-group">
                <input id="create-btn" type="submit" value="Thêm mới" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-success btn-tone m-r-5">Quay lại Danh sách</a>
</div>

<script>

    $(document).ready(function () {
        var path = location.pathname;
        path = path.replace('/Admin/AdminStocks/Create/', '');
        $('#store_id option[value=' + path + ']').attr('selected', true);
    })

    $("#create-btn").click(function (e) {
        if ($("#store_id").is(':invalid')) {
            $("#store-message").show();
        }
        if ($("#pro_id").is(':invalid')) {
            $("#pro-message").show();
        }
        if ($("#quantity").is(':invalid')) {
            $("#quantity-message").show();
        }
        if ($("#quantity").val() < 0) {
            e.preventDefault();
            $("#quantity-message1").show();

        }

    })
    //Bỏ thông báo yêu cầu chọn/nhập
    $("#store_id").change(function () {
        $("#store-message").hide();
    })
    $("#pro_id").change(function () {
        $("#pro-message").hide();
    })
    $("#quantity").keyup(function () {
        $("#quantity-message").hide();
        $("#quantity-message1").hide();
    })

</script>

