@model WebBriliFresh.Models.Stock

@{
    ViewData["Title"] = "Edit";
}

<h1>Chỉnh sửa thông tin</h1>

<h4>Kho</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StoreId" />
            <input type="hidden" asp-for="ProId" />
            <div class="form-group">
                <label asp-for="Quantity" class="control-label">Số lượng</label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-success btn-tone m-r-5">Quay lại Danh sách</a>
</div>
