@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;400;500;600&family=Lexend:wght@200;300;500;600;800&display=swap");

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
input {
    font-family: "Lexend", sans-serif;
}

main {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    position: relative;
    width: 100%;
    max-width: 900px;
    min-height: 544px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 27);
}

ul {
    list-style-type: none;
}

.inner-box {
    position: absolute;
    /* width: calc(100% - 40px);
    height: calc(100% - 40px); */
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.forms-wrap {
    position: absolute;
    height: 100%;
    width: 45%;
    top: 0;
    right: 0;
    /* background-color: green; */
}

form {
    width: 100%;
    /* background-color: red; */
    margin: 0 auto;
    height: 100%;
}

.heading {
    padding-top: 28px;
    padding-right: 24px;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 4%;
    right: 0%;
    padding: 12px 16px;
    border-radius: 50%;
    transform: translate(0%, -50%);

    border: 0;
    font-size: 20px;


    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.close:hover {
    background: lightgray;
}

.heading h1 {
    width: 125.8px;
    height: 26px;
    padding-left: 28px;
    margin-top: 40px;
    font-family: "Lexend";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 12px;
    display: inline;
    color: #118129;
}

.heading h2 {
    padding-left: 28px;
    font-family: "Lexend";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 48px;
}

.actual-form {
    padding-top: 0px;
    padding-left: 28px;
}


.input-field {
    width: 344px;
    margin-bottom: 16px;
    background: none;
    padding: 8px;
    outline: none;
    border: 1px solid #118129;
    font-weight: 600;
    font-size: 16px;
    /* background-color: blue; */
}

.btn-box {
    margin-left: 28px;
    margin-bottom: 10px;
    width: 360px;
    height: 40px;
}

.btn {  
    font-size: 16px;
    width: 344px;
    height: 44px;
    outline: none;
    border: none;
    border-radius: 12px;
    background: #118129;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 16px 0 0;
    transition: all 0.5s;
}

.btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

.forgetpass {
    padding-top: 16px;
    text-align: center;
}

.text a {
    text-align: center;
    color: #118129;
    width: 97.42px;
    height: 19.2px;
    font-family: "Lexend";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    padding: 4px;
}

.text a:hover {
    opacity: 0.7;
}

.other-signin {
    margin-top: 56px;
}

.other-signin p {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.other-signin p span {
    background: #fff;
    padding: 0 10px;
}

.social-media {
    display: flex;
    margin-top: 16px;
    margin-left: 28px;
    margin-bottom: 20px;
}

.social-icon {
    text-decoration: none;
}

.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    width: 166px;
    height: 40px;
    border: 1px solid #118129;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3b5998;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.dangky {
    text-align: center;
}

.dangky h6 {
    width: 198px;
    height: 26px;
    left: 101px;
    top: 550px;

    font-family: "Lexend";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    display: inline;
}

.dangky a {
    color: #118129;
    text-decoration: none;
}

.dangky a:hover {
    opacity: 0.7;
}

.carousel {
    position: absolute;
    height: 100%;
    width: 55%;
    right: 45%;
    top: 0;
    /* background-color: rgb(168, 15, 15); */
}

.image {
    width: 100%;
    /* grid-column: 1/2;
    grid-row: 1/2; */
}

.img-green {
    position: relative;
    height: 100%;
    padding-top: 0;
    padding-left: 0;
}

.img-vegetables {
    position: absolute;
    width: 420px;
    left: 32px;
    top: 150px;
}

.img-logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
}