:root {
    --white-color: #fff;
    --black-color: #000;
    --text-coler: #333;
}

* {
    box-sizing: inherit;
    font-family: "Lexend", sans-serif;
}

html {
    /* font-size: 62.5%; */
    box-sizing: border-box;
    max-width: 100%;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

body {
    overflow-x: hidden;
    margin-right: -24px;
}

.container {
    max-width: 1200px !important;
    padding: 0 !important;
}
