.transfer-info {
    background-color: #fff;
    padding: 8px 16px;
}

.transfer-info p {
    font-size: 14px;
    margin-bottom: 0;
}

/* End */
.the-end {
    font-size: 14px;
    padding: 16px 0;
    max-width: 1200px;
    display: flex;
}

.the-end__first {
    padding: 16px;
    background-color: #fff;
    flex: 1;
}

.the-end__second {
    flex: 1;
    background-color: #fff;
    padding: 16px;
    margin-left: 8px;
}

.heading-column-end {
    color: rgb(182, 182, 182);
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 25.6px;
    font-weight: 600;
}

.info-payment {
    display: flex;
    justify-content: space-between;
}

/* Modal Rating Order*/
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;              /* flexbox */
    align-items: center;     
    justify-content: center;
}

.modal.open {
    display: flex;
}

.modal-container {
    background: #fff;
    width: 580px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;    
    animation: modalFadeIn ease .5s;
}

.modal-container .modal-header {
    background-color: palegreen;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: green;
    letter-spacing: 4px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: rgb(92, 88, 88);
}

label[for="flavor"] {
    margin-top: 16%;
}

.modal-label:first-child {
    margin-top: 20%;
}

.modal-body {
    padding: 16px;
    position: relative;
}

input.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 20px;
}

#description {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
}

.modal-image {
    font-size: 14px;
}

.modal-image i {
    font-size: 18px;
    margin-right: 4px;
}

.modal-image input {
    display: none;
}

.btn-modal:hover {
    opacity: 0.8;
}

.btn-modal {
    background-color: palegreen;
    border: none;
    color: green;
    font-size: 15px;
    text-transform: uppercase;
    padding: 8px 12px;
    cursor: pointer;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

@keyframes modalFadeIn {
    from {
        transform: translateY(-140px);
    }
    to {
        transform: translateY(0);
    }
}

/* Rating */
.stars {
    position: absolute;
    left: 50%;
    top: 16%;
    transform: translate(-50%, -50%);
}

div.stars {
    width: 270px;
    display: inline-block;
}

input.star { 
    display: none; 
}

label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all .2s;
}

input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}

input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { 
    color: #F62; 
}

label.star:hover { 
    transform: rotate(-15deg) scale(1.3); 
}

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}
