.i_cart_shoping,
.bought_product
{
    cursor: pointer;
}
.scaled-header
{
    position: fixed !important;
    background-color: #ffffff;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    z-index: 100000;
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin: 0 !important;
}

.i_cart_shoping
{
    display: flex;
    align-items: center !important;
}

.directory
{
    padding-top: 84px !important;
}

.navbar-expand-xl
{
    padding: 0px !important;
}

#avartar_user
{
    width: 44px;
    height: 30px;
    clip-path: circle(15px at 50% 50%);
    margin-right: 8px;
    margin-left: -12px;
}

.header__navbar-name
{
    padding-left: 12px;
}



.row
{
    margin-right: 0 !important;
}
/* .mainLogo{
    width: 80px;
    height: 60px;
} */
#navbarSupportedContent
{
    width: 1200px;
    height: 84px;
    margin-right: 170px;
    margin-left: 100px;
}

    #navbarSupportedContent .direction
    {
        /* color: white; */
        /* text-align: center; */
        font-size: 25px;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }

    #navbarSupportedContent .direction-detail
    {
        font-family: 'Lexend',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 19px;
        /* or 160% */


        color: #000000;
    }

.scaled-body
{
    width: 1200px;
    margin-right: 132px;
    margin-left: 150px;
}
/* .scaled-header{
   transform: scale(0.9);
 }
  .scaled {
   transform: scale(0.9); 
  }
  .scaled-comment{
   transform: scale(0.85); 
  }; */

/* .scaled-product{
   transform: scale(0.85); 
} */
/* .user-comment{
   transform: scale(0.85); 
} */
#logo
{
    height: 56px;
    width: 75px;
}

.firstName
{
    font-family: 'Lexend',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    /* identical to box height */


    color: #118129;
}

.lastName
{
    font-family: 'Lexend',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    color: #14DF41;
}

a
{
    text-decoration: none;
}

.col-logo-name
{
    position: absolute;
    width: 100px;
    height: 80px;
    left: 88px;
    top: 30px;
}
/* .imgHome{
       width: 40px;
       height: 40px;
    } */
.btnHome
{
    width: 45px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-image: url("../../OverviewProductAssets/images/Homebutton.png");
    background-size: cover;
    background-position: center center;
}

.direction
{
    width: 196px;
    height: 40px;
    background: #FCF4A8;
    border-radius: 4px;
}

button[name="search"]
{
    position: relative;
    width: 55px;
    color: white;
    height: 33px;
    background: #F69708;
    border: none;
    border-radius: 2px;
    /* background:url("./images/search.png") */
}

.search-container
{
    /* height:35px; */

    background: white;
    border: 0.5px solid gray;
    border-bottom: 0.5px solid gray;
    border-right: none;
}

.search-button
{
    /* height:35px;    */
    background: white;
    border: 0.5px solid gray;
    border-left: none;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

input[placeholder="Tìm kiếm thực phẩm"]
{
    position: relative;
    width: 450px;
    height: 42px;
    /* height:40px; */
    min-width: auto;
    /* height: 50px; */
    margin-left: 35px;
    display: block;
    font-family: 'Lexend',sans-serif;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    background: none;
}

.header-form
{
    height: 40px;
}

.vr
{
    height: 25px;
}

.navbar-nav .nav-link
{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height */


    color: #7B7575;
}

.count_product
{
    width: 63px;
    height: 26px;
    background: #FCF4A8;
    border-radius: 12px;
    text-align: right;
}

.bought_product
{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #7B7575;
    /* background-color: #FCF4A8; */
}


.location_item_list
{
    padding-top: 12px;
}

.location_item
{
    background-color: #f2dede;
    border-radius: 8px;
    width: 250px;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

.location_item_child_link + .location_item_child_link
{
    /* margin-top: 12px; */
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 16px;
    height: 56px;
    cursor: pointer;
    list-style-type: none;
    /* text-align: center; */
}

.location_item_child
{
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 16px;
    font-size: 14px;
}

.location_item::-webkit-scrollbar
{
    display: none; /* cho Chrome, Safari, and Opera */
}

.display_list_location
{
    display: none;
}

.direction-detail
{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

ol
{
    padding-left: 0 !important;
}

.location_item_child:hover > a
{
    color: #000000;
}

.display_list_location
{
    display: none;
}

.location_container
{
    cursor: pointer;
}

/* .location_container {
    width: 200px;
    height: 50px;
    background-color: #f2dede;
    border-radius: 8px;
} */

.ti-location-pin
{
    font-size: 16px !important;
}

.list_location
{
    padding-top: 4px !important;
    padding-left: 16px !important;
    z-index: 10000000000000000000 !important;
    position: fixed !important;
}

.change-location-store
{
    padding-top: 12px;
}

.location_item_list li a
{
    text-decoration: none;
    color: #8f8c8c;
}

.location_item
{
    height: fit-content;
    font-family: 'Lexend';
}


.navbar-expand-xl .navbar-nav .nav-link
{
    padding-right: 0px !important;
    padding-left: 0px !important;
    font-family: lexend;
}

.search-button #search
{
    position: relative;
    width: 55px;
    color: white;
    height: 33px;
    background: #f69708;
    border: none;
    border-radius: 2px;
}
