@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brile Fresh</title>

    @*Css home header*@
    <link rel="stylesheet" href="~/HomeAssets/asset/base.css" />
    <link rel="stylesheet" href="~/HomeAssets/asset/main.css" />
    <link rel="stylesheet" href="~/HomeAssets/homeheadermain.css" />
    <link rel="stylesheet" href="~/HomeAssets/HomeFooter.css" />
    <link rel="stylesheet" href="~/HomeAssets/asset/fonts/themify-icons/themify-icons.css">

    <script type=”text/javascript” src=”http://code.jquery.com/jquery-2.0.3.min.js”></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
</head>
<body>
    <div id="main">
        @await Html.PartialAsync("~/Views/Shared/_HomeHeaderPartialView_login.cshtml")
        @*@await Html.PartialAsync("~/Views/Shared/_HomeHeaderPartialView.cshtml")*@

        <container class="container">
            <div class="slider">
                <div class="slider__image">
                    <img src="~/HomeAssets/asset/image/slider_1.png" alt="" class="image-item">
                </div>
                <div class="slider__image">
                    <img src="~/HomeAssets/asset/image/slider_2.png" alt="" class="image-item">
                </div>
                <div class="slider__image">
                    <img src="~/HomeAssets/asset/image/slider_3.png" alt="" class="image-item">
                </div>
            </div>

            <div class="row d-flex justify-content-center" style="background-color: #eaffe4;">
                <div class="product__overview d-flex justify-content-between col-9">
                    <div class="product__overview-item product__overview-item--red text-center">
                        <h3 class="overview-tittle">Thịt cá</h3>
                        <p class="overview-description">Thịt cá tươi ngon mỗi ngày</p>
                        <button class="overview-btn"><a asp-controller="OverviewProduct" asp-action="FishAndMeat">Mua ngay</a></button>
                        <img src="~/HomeAssets/asset/image/overview_1.png" alt="" class="overview-img overview-img--red">
                    </div>
                    <div class="product__overview-item product__overview-item--yellow text-center">
                        <h3 class="overview-tittle">Trái cây bốn mùa</h3>
                        <p class="overview-description">Khuyến mãi tháng 11 & 12 lên đến 50%</p>
                        <button class="overview-btn"><a asp-controller="OverviewProduct" asp-action="Fruit">Mua ngay</a></button>
                        <img src="~/HomeAssets/asset/image/overview_2.png" alt="" class="overview-img">
                    </div>
                    <div class="product__overview-item product__overview-item--green text-center">
                        <h3 class="overview-tittle">Rau củ</h3>
                        <p class="overview-description">Rau quả hữu cơ vừa thu hoạch</p>
                        <button class="overview-btn"><a asp-controller="OverviewProduct" asp-action="Vegetable">Mua ngay</a></button>
                        <img src="~/HomeAssets/asset/image/overview_3.png" alt="" class="overview-img">
                    </div>
                </div>
            </div>
            <div class="about-items">
                <div class="row">
                    <div class="about-item">
                        <div class="about-item-tittle">
                            <h2 class="about-item-tittle-1">
                                NGUỒN THỰC PHẨM LÀNH NGON
                            </h2>
                        </div>
                        <div class="about-item-des">
                            <p class="about-item-des-1">
                                Thấu hiểu những căng thẳng và áp lực vô hình mà chúng ta phải đối mặt trong kỷ nguyên Số, BriliFresh kết tinh những món quà mà mẹ thiên nhiên ban tặng thành những nguồn thực phẩm sạch, an toàn giúp tăng cường, cải thiện sức khỏe tinh thần lẫn thể chất của con người mỗi ngày.
                            </p>
                        </div>
                        <div class="row">
                            <div class="row row2 item-tittle col-12 d-flex">
                                <div class="item-tittle-1">
                                    <h3 class="item-tittle-heading">
                                        Tươi mát
                                    </h3>
                                    <p class="item-tittle-des">
                                        Thực phẩm đăng bán được thu hoạch và sơ chế trong ngày
                                    </p>
                                </div>
                                <div class="item-tittle-1">
                                    <h3 class="item-tittle-heading">
                                        Thơm ngon
                                    </h3>
                                    <p class="item-tittle-des">
                                        Rau ngọt và giòn với hương vị tự nhiên, có thể ăn sống hay chế biến tùy thích với độ thanh mát tự nhiên vốn có
                                    </p>
                                </div>
                                <div class="double-item d-flex row">
                                    <div class="item-tittle-1">
                                        <h3 class="item-tittle-heading">
                                            Tốt cho sức khỏe
                                        </h3>
                                        <p class="item-tittle-des">
                                            Rau organic chứa hàm lượng dinh dưỡng, vitamin, khoáng chất cao.
                                        </p>
                                    </div>
                                    <div class="item-tittle-1">
                                        <h3 class="item-tittle-heading">
                                            Dinh dưỡng
                                        </h3>
                                        <p class="item-tittle-des">
                                            Được bảo quản trong điều kiện phù hợp nhất để giữ trọn nguồn dinh dưỡng
                                        </p>
                                    </div>
                                </div>
                                <div class="item-tittle-1">
                                    <h3 class="item-tittle-heading">
                                        Thân thiện môi trường
                                    </h3>
                                    <p class="item-tittle-des">
                                        Không thuốc bảo vệ thực vật, phân bón hóa học, không thuốc diệt cỏ và các sản phẩm biến đổi gen.
                                    </p>
                                </div>
                                <div class="item-tittle-1">
                                    <h3 class="item-tittle-heading">
                                        Cao cấp
                                    </h3>
                                    <p class="item-tittle-des">
                                        Kiểm soát, truy xuất nguồn gốc. Có khả năng quy trách nhiệm tới cá nhân, xử phạt nghiêm minh.
                                    </p>
                                </div>

                            </div>

                        </div>
                        <div class="about-item--leaf">
                            <img src="~/HomeAssets/asset/image/tea leaf 1.png" alt="" class="item--leaf">
                        </div>
                        <div class="about-item--center">
                            <img src="~/HomeAssets/asset/image/Rectangle 4.png" alt="" class="item--center">
                            <img src="~/HomeAssets/asset/image/pngwing 4.png" alt="" class="item--center-2">
                        </div>
                        <div class="about-item--rectangle">
                            <img src="~/HomeAssets/asset/image/Rectangle 53.png" alt="" class="item--rectangle">
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-discounts container-fluid">
                <h3 class="discount-heading text-center">
                    CHƯƠNG TRÌNH KHUYẾN MÃI
                </h3>
                <div class="slider-discounts row">
                    <div class="info-discount">
                        <img src="~/HomeAssets/asset/image/discount_1.jpg" alt="" class="img-discount">
                    </div>
                    <div class="info-discount">
                        <img src="~/HomeAssets/asset/image/discount_2.jpg" alt="" class="img-discount">
                    </div>
                    <div class="info-discount">
                        <img src="~/HomeAssets/asset/image/discount_3.jpg" alt="" class="img-discount">
                    </div>
                    <div class="info-discount">
                        <img src="~/HomeAssets/asset/image/discount_1.jpg" alt="" class="img-discount">
                    </div>
                    <div class="info-discount">
                        <img src="~/HomeAssets/asset/image/discount_2.jpg" alt="" class="img-discount">
                    </div>
                    <div class="info-discount">
                        <img src="~/HomeAssets/asset/image/discount_3.jpg" alt="" class="img-discount">
                    </div>
                </div>
            </div>
            <div class="about-items-hot container-fluid">
                <h3 class="discount-heading text-center">
                    SẢN PHẨM BÁN CHẠY
                </h3>
                <div class="list-items-hot row d-flex justify-content-around">
                    <div class="item-hot col-2">
                        <div class="img-item">
                            <img src="~/HomeAssets/asset/image/item1.png" alt="" class="item-hot-img">
                        </div>
                        <div class="name-item">
                            <p class="name-item-hot">Kiwi</p>
                        </div>
                        <div class="price-item">
                            <p class="price-item-hot">225.000đ/kg</p>
                        </div>
                        <div class="buy-item-hot row">
                            <button class="btn-buy-item-hot">Thêm vào giỏ</button>
                        </div>
                    </div>
                    <div class="item-hot col-2">
                        <div class="img-item">
                            <img src="~/HomeAssets/asset/image/item2.png" alt="" class="item-hot-img">
                        </div>
                        <div class="name-item">
                            <p class="name-item-hot">Kiwi</p>
                        </div>
                        <div class="price-item">
                            <p class="price-item-hot">225.000đ/kg</p>
                        </div>
                        <div class="buy-item-hot row">
                            <button class="btn-buy-item-hot">Thêm vào giỏ</button>
                        </div>
                    </div>
                    <div class="item-hot col-2">
                        <div class="img-item">
                            <img src="~/HomeAssets/asset/image/item3.png" alt="" class="item-hot-img">
                        </div>
                        <div class="name-item">
                            <p class="name-item-hot">Kiwi</p>
                        </div>
                        <div class="price-item">
                            <p class="price-item-hot">225.000đ/kg</p>
                        </div>
                        <div class="buy-item-hot row">
                            <button class="btn-buy-item-hot">Thêm vào giỏ</button>
                        </div>
                    </div>
                    <div class="item-hot col-2">
                        <div class="img-item">
                            <img src="~/HomeAssets/asset/image/item4.png" alt="" class="item-hot-img">
                        </div>
                        <div class="name-item">
                            <p class="name-item-hot">Kiwi</p>
                        </div>
                        <div class="price-item">
                            <p class="price-item-hot">225.000đ/kg</p>
                        </div>
                        <div class="buy-item-hot row">
                            <button class="btn-buy-item-hot">Thêm vào giỏ</button>
                        </div>
                    </div>
                    <div class="item-hot col-2">
                        <div class="img-item">
                            <img src="~/HomeAssets/asset/image/item5.png" alt="" class="item-hot-img">
                        </div>
                        <div class="name-item">
                            <p class="name-item-hot">Kiwi</p>
                        </div>
                        <div class="price-item">
                            <p class="price-item-hot">225.000đ/kg</p>
                        </div>
                        <div class="buy-item-hot row">
                            <button class="btn-buy-item-hot">Thêm vào giỏ</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-news container-fluid">
                <p class="tittle-news text-center">
                    TIN TỨC
                </p>
                <div class="news-list row">
                    <div class="news col-4">
                        <div class="about-news-img">
                            <img src="~/HomeAssets/asset/image/news1.png" alt="" class="news-img">
                        </div>
                        <div class="about-news-tittle">
                            <p class="news-tittle">
                                Ăn uống tốt cho sức khỏe: Kết hợp món ăn hay khẩu phần ăn lành mạnh?
                            </p>
                        </div>
                        <div class="about-news-day">
                            <ti class="news-day-icon ti-calendar">
                            </ti>
                            <span class="news-day-des">
                                24/07/2022 06:35 GMT+7
                            </span>
                        </div>
                        <div class="about-news-content">
                            <p class="news-content">
                                "Hay diet" là chế độ ăn uống được gọi theo
                                tên người khởi xướng ra nó, William Howard Hay,
                                khá phổ biến từ thập niên 1920 và cho tới nay
                                vẫn còn lan truyền, có cải tiến đôi chút dưới nhiều
                                hình thức khác nhau.
                            </p>
                        </div>
                    </div>
                    <div class="news col-4">
                        <div class="about-news-img">
                            <img src="~/HomeAssets/asset/image/news2.png" alt="" class="news-img">
                        </div>
                        <div class="about-news-tittle">
                            <p class="news-tittle">
                                Định danh nông sản Việt trên thị trường thế giới
                            </p>
                        </div>
                        <div class="about-news-day">
                            <ti class="news-day-icon ti-calendar">
                            </ti>
                            <span class="news-day-des">
                                24/07/2022 06:35 GMT+7
                            </span>
                        </div>
                        <div class="about-news-content">
                            <p class="news-content">
                                Nông sản Việt Nam ngày càng khẳng định được thương hiệu nhờ nỗ lực định danh
                                thương hiệu và đòn bẩy từ các hiệp định thương
                                mại tự do (FTA) thế hệ mới tạo thuận lợi cho phát triển sản xuất, kinh doanh.
                            </p>
                        </div>
                    </div>
                    <div class="news col-4">
                        <div class="about-news-img">
                            <img src="~/HomeAssets/asset/image/news3.png" alt="" class="news-img">
                        </div>
                        <div class="about-news-tittle">
                            <p class="news-tittle">
                                Truy xuất nguồn gốc: Thúc đẩy tiêu thụ nông sản bằng các nền tảng số
                            </p>
                        </div>
                        <div class="about-news-day">
                            <ti class="news-day-icon ti-calendar">
                            </ti>
                            <span class="news-day-des">
                                24/07/2022 06:35 GMT+7
                            </span>
                        </div>
                        <div class="about-news-content">
                            <p class="news-content">
                                (Chinhphu.vn) - Truy xuất nguồn gốc là giải pháp thúc đẩy việc tiêu thụ
                                nông sản của bà con nông dân bằng các nền tảng số,
                                tích hợp giá trị, tạo sự thuận lợi cho người nông dân, hợp tác xã, người tiêu dùng.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </container>
        @await Html.PartialAsync("~/Views/Shared/_FooterPartialView.cshtml")
    </div>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js" integrity="sha512-eP8DK17a+MOcKHXC5Yrqzd8WI5WKh6F1TIk5QZ/8Lbv+8ssblcz7oGC8ZmQ/ZSAPa7ZmsCU4e/hcovqR8jfJqA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/HomeAssets/asset/index.js"></script>
    @await  Component.InvokeAsync("Notyf")
    @await Html.PartialAsync("_ValidationScriptsPartial")
</body>
</html>

